#container {
  display: flex;
  height: 100%;
  align-items: center;
}
#home-screen {
  text-align: center;
  flex: 1;
}
#results-screen {
  text-align: center;
  flex: 1;
}

h1 {
  background-color: white;
}

p {
  font-size: 2rem;
  background-color: white;
}
